@media (max-width:768px){
    header,header #header-logo,nav,.movie-box,#movie-section h1{
    float: none;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    margin: 0 auto;
    }
    .movie-poster img{
        width: 250px;
        height: 250px;
    }
    #search-bar{
    float: none;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    margin-left: -20px;
    }
    .movie-choice,.movie-choice ul li a{
    float: none;
    width: 100%;
    text-align: center;
    font-size: 23px;
    padding: 12px 0px; 
    }
    .full-body{
        height:900px;
    }
    
}

@media (max-width:375px){
    .movie-choice,.movie-choice ul li a{
        float: none;
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 12px 0px; 
        } 
    #search-bar {
        float: right;
        margin-bottom: 10px; 
    
    }
    header nav ul li a{
        text-transform: uppercase;
        padding: 3px 20px;
        color: white;
        font-weight: bold;
        font-size: 9px;
        border-radius: 25px;
    }     
}



