@media (max-width:782px){
    header{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
    }
    #logo{
        width: 100%;
        float: none;
        text-align: center;
        line-height: 50px;
    }
    .nav-menu{
        float: none;
        width: 80%;
        background-color: rgba(0,0,0,0.8);
        margin: 0 auto;
        border: 1px solid snow;       
    }
    .nav-menu ul li{
        display: block;
        text-align: center;
        border-bottom: 1px solid wheat;
        height: 50px;
        line-height: 50px;
    }
    .nav-menu ul li a{
        font-size: 16px;
    }
    .nav-menu ul li{
      display: none;
    }
    #toggle:checked + .nav-menu ul li{
        display: block;
    }
    .fa-bars{
        font-size: 24px;
        color: white;
    }
    .bar{
        display: block;
        position: absolute;
        top:1.2%;
        left: 93%;
    }
}
@media (max-width:414px){
    .bar{
        display: block;
        position: absolute;
        top:1.9%;
        left: 90%;
    }
}