@media(max-width:1250px){
    .home-description{
        float: right;
        width: 63%;
        margin: 70px 0px;
        line-height: 35px;
        color: white;
    }
    
    
}
@media(max-width:1000px){
    .upcoming-movies h1{
        font-size: 15px;
    }
    .upcoming-movies p{
        font-size: 8.1px;
        font-weight: bold;
    }
}
@media(max-width:809px){
    .home-img,#movies .movies-left{
        float: none;
        width: 100%;
        text-align: center;
    }
    .upcoming-movies h1{
        font-size: 29px;
    }
    .upcoming-movies p{
        font-size: 15px;
    }
    #movies .right-div{
        float: none;
        width: 100%; 
    }
    .home-description,.home-description #description{
        margin-top: -1px;
        float: none;
        width: 100%;
        text-align: center;
    }
    
}

@media (max-width:790px){
    header{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
    }
    #logo{
        width: 100%;
        float: none;
        text-align: center;
        line-height: 50px;
    }
    .nav-menu{
        float: none;
        width: 95%;
        background-color: rgba(28,28,28,0.96);
        margin: 0 auto;
    }
    .nav-menu ul li{
        display: block;
        text-align: center;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        border-left: 1px solid white;
        height: 50px;
        line-height: 50px;
    }
    .nav-menu ul li a{
        font-size: 16px;
    }
    .nav-menu ul li{
      display: none;
    }
    #toggle:checked + .nav-menu ul li{  
        display: block;
        min-height: 50px;
    }
    .fa-bars{
        font-size: 24px;
        color: white;
    }
    .bar{
        display: block;
        position: absolute;
        top:20%;
        left: 93%;
    }
    .left-menu{
        float: none;
        width: 100%;
        text-align: center;
    }
    .left-menu ul li a{
        font-size: 19px;
    }
    .search-bar{
        float: none;
        width: 100%;
        text-align: center;
    }
    .search-bar input[type=search]{
        width: 270px;
        height: 40px;
        margin-bottom: 20px;
    }
      
}
@media (max-width:414px){
    .bar{
        display: block;
        position: absolute;
        top:20%;
        left: 90%;
    }
    .search-bar input[type=search]{
        width: 230px;
        height: 25px;
    }
    .home-img{
        float: none;
        text-align: center;
        width: 100%;
    }
    .search-bar input[type=search]{
        width: 270px;
        height: 40px;
        margin-bottom: 20px;
    }
   
}

/*

<div class="movies-section">
           <div class="movies-box">
               <img src="/asset/img/3idiots.jpg" alt="3 Idiots">
               <h2>3 Idiots (2009)</h2>
               <p>Comedy, Drama </p> 
               <h4><i class="fas fa-star"></i> 8.4</h4>
           </div>
           <div class="movies-box">
            <img src="/asset/img/ghajini.jpg" alt="Ghajini">
            <h2>Ghajini (2008)</h2>
            <p>Action, Drama, Mystery </p>
            <h4><i class="fas fa-star"></i> 7.3</h4>
          </div>
          <div class="movies-box">
            <img src="/asset/img/PK_poster.jpg" alt="P.K.">
            <h2>PK (2014)</h2>
            <p>Comedy, Drama, Fantasy</p>
            <h4><i class="fas fa-star"></i> 8.1</h4>
          </div>
          <div class="movies-box">
            <img src="/asset/img/tzp.jpg" alt="P.K.">
            <h2>PK (2014)</h2>
            <p>Comedy, Drama, Fantasy</p>
            <h4><i class="fas fa-star"></i> 8.1</h4>
          </div>
        </div>


        */